#root {
  
}

body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.error-banner {
    padding: 10px;
    background-color: #ff6347; 
    margin-bottom: 10px;
  }
  
  .success-banner {
    padding: 10px;
    background-color: #32cd32; 
    color: white;
    margin-bottom: 10px;
  }  

  h1{
    
  }